
#include "DiaEnum_%EnumName%.h"

#include <cstdint>

namespace Diameter {
namespace Events {
namespace %Branding% {

size_t size(DiaEnum_%EnumName%) {
	return sizeof(std::uint32_t);
}

} /* namespace %Branding% */
} /* namespace Events */

namespace Serialiser {

Events::%Branding%::DiaEnum_%EnumName% convertToDiaEnum_%EnumName%(Dictionary::DictionaryDefinition& dictionary, char* buffer, std::uint32_t bufferSize) {
    std::uint32_t* intPtr = reinterpret_cast<std::uint32_t*>(buffer);

    return Events::%Branding%::DiaEnum_%EnumName%(*intPtr);
}

} /* namespace Serialiser */

} /* namespace Diameter */
