#ifndef DICTIONARY_%Branding%_H_
#define DICTIONARY_%Branding%_H_

#include "BufferUtils.h"
#include "DictionaryDefinition.h"

namespace Diameter {
namespace Dictionary {
namespace %Branding% {

DictionaryDefinition makeDictionary();

} /* namespace %Branding% */
} /* namespace Events */
} /* namespace Diameter */

#endif /* DICTIONARY_%Branding%_H_ */
